<html>
    <body>
    <h1>Hi, <%=username%> ! You can use any of these commands!</h1>
    <a href = "/open/vlc">Open VLC</a><br>
    <a href = "/open/chromium-browser">Open chromium</a><br>
    <a href = "/close/vlc">Close VLC!</a><br>
    <a href = "/open/shutdown">Shutdown</a>
    <img src = '' id = 'image'>
    </body>

    <script type="text/javascript" src="js/socket.io.js"></script>
 	<script type="text/javascript" src="js/socket.js"></script>
</html>